SetEnv DATATEAM_APP cscap

AddHandler cgi-script .py
Options +ExecCGI

RewriteEngine On
RewriteRule ^decagon_(.*)_(.*)_(.*)_(.*)_(.*).js$ plot_decagon.py?site=$1&date=$2&days=$3&ptype=$4&depth=$5&view=js
RewriteRule ^watertable_(.*)_(.*)_(.*)_(.*).js$ plot_watertable.py?site=$1&date=$2&days=$3&ptype=$4&view=js
RewriteRule ^tileflow_(.*)_(.*)_(.*)_(.*).js$ plot_tileflow.py?site=$1&date=$2&days=$3&ptype=$4&view=js
RewriteRule ^waterquality_(.*)_(.*)_(.*).js$ plot_waterquality.py?site=$1&varname=$2&ptype=$3&view=js